/*

         H.O.L.O - C.A.R.O.U.S.E.L
         BY DARIK HART.
         @demo https://holo-carousel.firebaseapp.com/
         @git-hub/elevendan
         M.I.T


*/
body {
    font-family: 'Open Sans', 'BurneTWF';
    font-size: 14px;
    line-height: 1.428571429;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.623);
    background: #222
}

a {
    color: #846068
}

p {
    display: block;
    font-size: 18px;
    color: #555
}

h1 {
    font-size: 42px;
    font-family: 'BurneTWF', 'Open Sans';
    line-height: none;
    text-transform: uppercase
}

h2 {
    font-size: 20px
}

div {
    position: relative;
    display: block;
    overflow: hidden
}

.holo-wrapper {
    display: block;
}

.shadow {
    holo-shadow: 0 0 5px rgba(0, 0, 0, 0.35)
}

.holo-controller {
    display: block;
    width: 100%;
    position: relative;
    height: 25px;
    max-width: 35%;
    border: none;
    padding: 2px;
    border-radius: 0;
    overflow: hidden !important;
    margin: 20px
}

.slides {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%
}

.slide {
    border: 3px solid #F48D05;
    color: #fff;
    background: #F6F373;
    cursor: pointer
}

.on {
    border: 2px solid #F48D05;
    color: #fff;
    background: #066367
}

.holo-carousel {
    font-size: 0;
    display: block;
    width: auto;
    position: relative;
    min-height: 110px;
    border: none;
    padding: 0;
    border-radius: 0;
    overflow: hidden !important;
    white-space: nowrap;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
    margin: 0 auto;
}

.holo-carousel> .holo-container {
     font-size: 0;
    position: relative;
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    left: 0;
    -moz-user-select: none;
    user-select: none;
    transform: translate3d(0, 0, 0)
}


.holo-container> .holo {
   position: relative;
    width: 43px;
    height: 60px;
    color: #fff;
    display: inline-block;
    background: rgba(2, 45, 95, 0.1);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    margin-right: 6px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    border-radius: 16px 
}

.holo-carousel .holo :hover {
    border-color: #FF1F1F
}
.holo-carousel> .holo-container:last-child {
   margin-right: 0 !important;
   margin-left: 0 !important
}
.holo .active {
    width: 729px !important;
}
.holo img {
    width: 100%;
}

.holo-carousel .holo-grid-container{
    font-size: 0;
    position: relative;
    padding: 0;
    margin: 0;
    height: 400px;
    display: grid;
    grid-column-gap: 20px;
    grid-auto-columns: 243px;
    grid-template-rows: 360px;
    grid-auto-flow: column;
    white-space: nowrap;
    float:none;
    user-drag: none;
    -moz-user-select: none;
    user-select: none;
    grid-template: none;
    transform: translate3d(0, 0, 0)
}
.holo-grid-container .holo {
    position: relative;   
    color: #fff;
    display: inline-block;
    background: rgba(2, 45, 95, 0.1);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    margin-right: 6px;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    border-radius: 16px
}

.holo-loader {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 10px;
    text-indent: -9999em;
    border: 2px solid rgba(58, 215, 255, 0.2);
    border-left: 2px solid #3AD7FF;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
    border-radius: 90%;
    width: 45px;
    height: 45px
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.nxt-button, .prv-button {
    background: rgba(2, 45, 95, 0.5) center center no-repeat;
    background-size: 100% auto;
    position: absolute;
    vertical-align: middle;
    width: 50px;
    height: 100%;
    right: 0;
    z-index: 200;
    border-radius: none
}

.prv-button {
    background: rgba(2, 45, 95, 0.5) center center no-repeat;
    background-size: 100% auto;
    left: 0;
    right: auto;
    border-radius: none;
    bottom: 0
}

.transition {
    transition: all .6s ease;
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1)
}

.trans2 {
    transition: all .6s ease;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.trans3s {
    transition: all 800ms ease
}

.trans3d {
    transform: translate3d(0, 0, 0)
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-weight: 0;
    -webkit-font-smoothing: antialiased;
    font-family: segoe ui, helvetica neue, helvetica, arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

*, :before, :after {
    box-sizing: border-box
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left
}

.holo-carousel-style-one .holo {
    width: 854px;
    height: 480px;
    margin: 10px 0
}

.holo-carousel-style-movie-poster .holo{
width: 243px;
    height: 360px;
}

/* @media (max-width: 960px) {
    .holo-wrapper{
        width: 100%;
    }
     .holo-carousel-style-movie-poster .holo{
        width: 122px;
        height: 180px;
    }
    .holo-carousel-style-one .holo {
        width: 427px;
        height: 240px;
    }
}
@media (max-width: 480px) {
    .holo-wrapper{
        width: 100%;
    }
     .holo-carousel-style-movie-poster .holo{
        width: 122px;
        height: 180px;
        
    }
    .holo-carousel-style-one  {
        margin: auto;
        padding: 0;
        width: 100%
    }
    .holo-carousel-style-one .holo {
        width: 427px;
        height: 240px;
    }
} */
